fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
email-validator
sqlalchemy
psycopg2-binary
redis
httpx
moviepy
ffmpeg-python
faster-whisper
python-dotenv
python-multipart
jinja2
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
celery
boto3
redis
cryptography
alembic
yt-dlp
Pillow
groq
aiohttp
beautifulsoup4
gtts
