fastapi>=0.110.0
uvicorn[standard]
pydantic>=2.0.0
pydantic-settings
python-jose[cryptography]
bcrypt==4.0.1
passlib[bcrypt]
email-validator
SQLAlchemy>=2.0.0
psycopg2-binary
redis
httpx
moviepy
ffmpeg-python
faster-whisper
python-dotenv
python-multipart
jinja2
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
celery
boto3
cryptography
alembic
yt-dlp
Pillow
groq
aiohttp
beautifulsoup4
gtts
slowapi
